<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<title th:text="${magicThing.name}"></title>
</head>
<body>
	<div class="container pb-5 pt-5" layout:fragment="content">
		<div class="pt-3" th:object="${magicThing}">
			<div class="row">
				<div class="col main-header">
					<span th:text="*{name}"></span> <small class="text-secondary" th:text="|[*{englishName}]|"></small>
				</div>
				<div>
					<div class="text-muted" th:if="*{book}" th:text="|Источник: *{book.name} [*{book.source}]|"></div>
				</div>
			</div>
			<hr class="line1" align="center" size="5" color="#822000" />
			<div class="content-dnd">
				<em th:text="*{type.cyrilicName}"> <span th:text="${#strings.listJoin(magicThing.weapons, ',')}"></span></em>, <em th:text="*{rarity.cyrilicName}"> </em><em th:if="*{customization}">
					(требуется настройка<span th:if="*{custSpecial}" th:text="| *{custSpecial}|"></span><span th:each="custclass : *{custClasses}" th:text="${' ' + #strings.toLowerCase(custclass.name) + 'ом'}"></span>)
				</em>
				<hr class="mb-1 mt-1" align="center" size="5" color="#822000" />
				<p th:utext="*{description}">
			</div>
		</div>
	</div>
</body>
</html>