<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<title th:text="${property.name}"></title>
<link rel="icon" th:href="@{/resources/icon.png}">
</head>
<body>
	<div class="container pb-5 pt-5" layout:fragment="content">
		<div class="pt-3" th:object="${property}">
			<h5 class="main-header" th:text="*{name}"></h5>
			<hr class ="line1" align="center" />
			<div th:utext="*{description}"></div>
		</div>
	</div>
</body>
</html>