<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<title>Подземелья и Драконы по-русски</title>
<meta charset="utf-8">
<link rel="icon" th:href="@{/resources/icon.png}">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<style type="text/css">
.invert {
	filter: invert(100%);
	-webkit-filter: invert(75%) sepia(100%);
}
.img-fluid {
    max-height: 70%;
}
.img-fluid:hover {
	filter: invert(100%);
	-webkit-filter: invert(100%) sepia(100%);
}
</style>
</body>
</head>
<body>
	<div class="container pt-5" layout:fragment="content">
		<div class ="pt-4"></div>
		<div class="pb-5 mb-5 full-content-dnd content-dnd">
			<div class="row">
				<div class="col-4 col-sm-2 text-center">
					<a th:href="@{/classes}"><img class="invert img-fluid" th:src="@{/resources/icons/conqueror.svg}" title="Классы" /></a>
					<div>Классы</div>
				</div>
				<div class="col-4 col-sm-2 text-center">
					<a th:href="@{/races}"><img class="invert img-fluid" th:src="@{/resources/icons/dark-squad.svg}" /></a>
					<div>Расы</div>
				</div>
				<div class="col-4 col-sm-2 text-center">
					<a th:href="@{/backgrounds}"><img class="invert img-fluid" th:src="@{/resources/icons/farmer.svg}" /></a>
					<div>Предыстории</div>
				</div>
				<div class="col-4 col-sm-2 text-center">
					<a th:href="@{/traits}"><img class="invert img-fluid" th:src="@{/resources/icons/cook.svg}" /></a>
					<div>Черты</div>
				</div>
				<div class="col-4 col-sm-2 text-center">
					<a th:href="@{/options}"><img class="invert img-fluid" th:src="@{/resources/icons/freemasonry.svg}" /></a>
					<div>Опции и особенности классов</div>
				</div>
				<div class="col-4 col-sm-2 text-center">
					<a th:href="@{/hero/spells}"><img class="invert img-fluid" th:src="@{/resources/icons/spell-book.svg}" /></a>
					<div>Заклинания</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-4 col-sm-2 text-center">
					<a th:href="@{/stock/treasures}"><img class="invert img-fluid" th:src="@{/resources/icons/gems.svg}" /></a>
					<div>Драгоценности и безделушки</div>
				</div>
				<div class="col-4 col-sm-2 text-center">
					<a th:href="@{/stock/artifacts}"><img class="invert img-fluid" th:src="@{/resources/icons/magic-axe.svg}" /></a>
					<div>Магические предметы и артефакты</div>
				</div>
				<div class="col-4 col-sm-2 text-center">
					<a th:href="@{/stock/armors}"><img class="invert img-fluid" th:src="@{/resources/icons/leather-armor.svg}" /></a>
					<div>Доспехи и щиты</div>
				</div>
				<div class="col-4 col-sm-2 text-center">
					<a th:href="@{/stock/weapons}"><img class="invert img-fluid" th:src="@{/resources/icons/axe-sword.svg}" /></a>
					<div>Оружие</div>
				</div>
				<div class="col-4 col-sm-2 text-center">
					<a th:href="@{/stock/equipments}"><img class="invert img-fluid" th:src="@{/resources/icons/backpack.svg}" /></a>
					<div>Снаряжение</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-4 col-sm-2 text-center">
					<a th:href="@{/creatures}"><img class="invert img-fluid" th:src="@{/resources/icons/spiked-dragon-head.svg}" /></a>
					<div>Бестиарий</div>
				</div>
				<div class="col-4 col-sm-2 text-center">
					<a th:href="@{entities/gods}"><img class="invert img-fluid" th:src="@{/resources/icons/angel-outfit.svg}" /></a>
					<div>Боги</div>
				</div>
				<div class="col-4 col-sm-2 text-center">
					<a th:href="@{/rules}"><img class="invert img-fluid" th:src="@{/resources/icons/rule-book.svg}" /></a>
					<div>Правила и термины</div>
				</div>
				<div class="col-4 col-sm-2 text-center">
					<a th:href="@{/calc/master}"><img class="invert img-fluid" th:src="@{/resources/icons/archive-research.svg}" /></a>
					<div>Ширма Мастера</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-3 col-sm-1 text-center">
					<a th:href="@{/calc/taverna}"><img class="invert img-fluid" th:src="@{/resources/icons/tavern-sign.svg}" /></a>
					<div>Генератор Таверн</div>
				</div>
				<div class="col-3 col-sm-1 text-center">
					<a th:href="@{/calc/wildMagic}"><img class="invert img-fluid" th:src="@{/resources/icons/dice-fire.svg}" /></a>
					<div>Генератор эффектов Дикой Магии</div>
				</div>
				<div class="col-3 col-sm-1 text-center">
					<a th:href="@{/calc/madness}"><img class="invert img-fluid" th:src="@{/resources/icons/drama-masks.svg}" /></a>
					<div>Генератор эффектов Безумия</div>
				</div>
				<div class="col-3 col-sm-1 text-center">
					<a th:href="@{/calc/trader}"><img class="invert img-fluid" th:src="@{/resources/icons/scales.svg}" /></a>
					<div>Генератор Торговца</div>
				</div>
				<div class="col-3 col-sm-1 text-center">
					<a th:href="@{/calc/treasure}"><img class="invert img-fluid" th:src="@{/resources/icons/open-treasure-chest.svg}" /></a>
					<div>Генератор Сокровищ</div>
				</div>
				<div class="col-3 col-sm-1 text-center">
					<a th:href="@{/calc/encounters}"><img class="invert img-fluid" th:src="@{/resources/icons/perspective-dice-six-faces-random.svg}" /></a>
					<div>Генератор Случайных Столкновений</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>