<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<title>Источники</title>
</head>
<body>
	<div class="container pt-5 pb-5" layout:fragment="content">
		<div class="pt-3 content-dnd">
			<table class="table table-striped table-sm">
				<thead>
					<tr>
						<th class="col-1">Сокращение</th>
						<th>Тип</th>
						<th>Название</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="source : ${sources}">
						<td th:text="${source.source}"></td>
						<td th:utext="${source.type.name}"></td>
						<td><span th:text="${source.name}"></span> <span class="text-secondary" th:if="${source.englishName}" th:text="|[${source.englishName}]|"></span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>