<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<title>Генератор торговца</title>
</head>
<body>
	<div class="container pb-5 pt-5" style="margin-top: 25px" layout:fragment="content">
		<form class="row g-3" method="post">
			<div class="col-auto">
				<label for=mageRang class="visually-hidden">Магия в компании</label> 
				<select id="mageRang" name="mageRang" class="form-control">
					<option value="1" th:selected="${mageRang eq 1}">Мало</option>
					<option value="2" th:selected="${mageRang eq 2}">Норма</option>
					<option value="3" th:selected="${mageRang eq 3}">Много</option>
				</select>
			</div>
			<div class="col-auto">
				<input id="result" type="number" min="1" name="result" class="form-control" th:value="${result}" placeholder="Результат проверки Харизмы (Убеждение)" />
			</div>
			<div class="col-auto">
				<button class="btn btn-main btn-color-main" type="submit" id="calc">Найти торговца</button>
			</div>
		</form>
		<div class="content-dnd">
			<table class="table table-striped table-sm">
				<thead>
					<tr>
						<th>Редкость</th>
						<th>Предмет в наличии</th>
						<th>Цена (зм.)</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="thing : ${things}">
						<td th:text="${thing.rarity}"></td>
						<td><a th:href="|/stock/artifacts/${thing.id}|" th:text="${thing.name}" target="_blank" rel="noopener"></a></td>
						<td th:text="${thing.cost}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>