<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<title th:text="${background.name}"></title>
</head>
<body>
	<div class="container pt-3" th:with="window=${true}" layout:fragment="content">
		<div class="pt-5"></div>
		<div th:object="${background}" th:fragment="background">
			<div th:if="${window}">
				<span class="main-header" th:text="*{capitalazeName}"></span> <span class="text-secondary" th:if="*{englishName}" th:text="|[*{englishName}]|"></span>
			</div>
			<div th:unless="${window}" class="col main-header">
					<a class="text-reset" target="_blank" th:href="@{|/backgrounds/*{#strings.replace(englishName, ' ', '_')}|}"><span th:text="*{capitalazeName}"></span></a> <small th:if="*{englishName}" class="text-secondary"
						th:text="|[*{englishName}]|"
					></small>
			</div>
			<hr class="line1" />
			<div class="content-dnd">
				<div class="card main-description">
					<div class="card-body p-0 main-description-text">
						<div class="row">
							<div class="col">
								<p th:unless="*{skills.empty}" class="mb-1 mt-1">
									<strong>Владение навыками:</strong> <span th:each="skillType, iterStat : *{skills}" th:text="${iterStat.last} ? ${skillType.cyrilicName}: ${skillType.cyrilicName}  + ', '"></span>
								</p>
								<p th:if="*{skills.empty}" class="mb-1 mt-1">
									<strong>Владение навыками:</strong> <span th:text="*{otherSkills}"></span>
								</p>
								<p th:if="*{toolOwnership}" class="mb-1 mt-1">
									<strong>Владение инструментами: </strong><span th:text="*{toolOwnership}"></span>
								</p>
								<p th:if="*{language}" class="mb-1 mt-1">
									<strong>Языки: </strong><span th:text="*{language}"></span>
								</p>
								<p th:if="*{equipmentsText}" class="mb-1 mt-1">
									<strong>Снаряжение: </strong><span th:text="*{equipmentsText}"></span>
								</p>
							</div>
							<div class="col-auto">
								<div class="text-color-opacity" th:text="|Источник: *{book.name}*{page eq null?'':', стр.' + page} [*{book.source}]|"></div>
							</div>
						</div>
					</div>
				</div>
				<hr class="lineTop" align="center" size="5" color="#822000" />
				<div th:utext="*{description}"></div>
				<div class="separator pb-2 pt-2" th:text="|Умение: *{skillName}|"></div>
				<div th:utext="*{skillDescription}"></div>
				<div class="separator pb-2 pt-2">Персонализация</div>
				<div th:utext="*{personalization}"></div>
				<div class="accordion" id="accordionPanelsStayOpenExample">
					<div class="accordion-item">
						<h2 class="accordion-header" id="panelsStayOpen-headingOne">
							<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
								Случайная</button>
						</h2>
						<div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
							<div class="accordion-body">
								<div th:each="p : ${personalizations}">
									<div class="separator main-header" th:text="${p.type.name}"></div>
									<div class="row justify-content-between">
										<div class="col-10 text-right">
											<div class="pb-2 pt-2" th:id="|p${p.id}|" th:utext="${p.text}"></div>
										</div>
										<div class="col-auto">
											<button th:id="|b${p.id}|" th:attr="onclick=|randomPers(*{id}, ${p.id}, '${p.type.name()}')|" class="btn btn-main btn-color-main">Случайно</button>
										</div>
									</div>
								</div>
								<div class="separator main-header">Индивидуальная особенность</div>
								<div class="pb-2 pt-2" th:utext="${feature}"></div>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="panelsStayOpen-headingTwo">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
								Таблицы</button>
						</h2>
						<div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
							<div class="accordion-body">
								<table class="table table-striped table-sm">
									<th:block th:each="type : ${tables}">
										<tr>
											<th class="text-center" colspan="2"><strong th:text="${type.key.name}"></strong></th>
										</tr>
										<tr th:each="value, status : ${type.value}">
											<td th:text="${status.index + 1}"></td>
											<td th:utext="${value.text}"></td>
										</tr>
									</th:block>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<script type="text/javascript">
				function randomPers(bid, id, type) {
					var ids = 'p' + id;
					var element = document.getElementById(ids);
					var url = '/backgrounds/personalizare/feature?id=' + bid
							+ '&type=' + type;
					var elementId = '#' + ids;
					$(elementId).load(url);
				}
			</script>
		</div>
	</div>
</body>
</html>