<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/datatable-mobile-layout}">
<head>
<title>Предыстории</title>
<style>
img {
	float: center;
}
.invert {
	filter: invert(100%);
	-webkit-filter: invert(100%) sepia(100%);
}
</style>
</head>
<body>
	<div class="container-fluid" layout:fragment="content">
		<table id="backgrounds" class="table table-hover  table-sm color-main-bg-500">
			<thead>
				<tr>
					<th>Предыстория</th>
					<th>Умение</th>
					<th>Владение навыками</th>
					<th>В кошельке (зм.)</th>
					<th>Источник</th>
					<th>English</th>
				</tr>
			</thead>
		</table>
		<div class="modal fade" id="backgroundWindow" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm">
				<div class="modal-content color-main-bg-500">
					<div class="modal-body"></div>
					<div class="modal-header color-main-bg-600">
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script layout:fragment="datatable">
		$(document)
				.ready(
						function() {
							$('a.toggle-vis').on(
									'click',
									function(e) {
										e.preventDefault();
										var column = table.column($(this).attr(
												'data-column'));
										column.visible(!column.visible());
									});
							var table = $('#backgrounds')
									.DataTable(
											{
												stateSave : true,
												iDisplayLength : 10,
												dom : 'pBfrti',
												processing : true,
												serverSide : true,
												ajax : '/data/backgrounds',
												scrollY : "65vh",
												columns : [
														{
															data : "name",
															width : "30%",
															render : function(
																	data, type,
																	row) {
																if (type === 'display') {
																	var name = '<h6>'
																			+ data;
																	if (row.englishName) {
																		name += ' <small class="text-secondary"> ('
																				+ row.englishName
																				+ ')';
																	}
																	return name
																			+ '</h6>'
																			+ '<div class="text-secondary"><small>'
																			+ row.book
																			+ '</small></div>';
																}
																return data;
															},
														},
														{
															data : "skillName",
															width : "20%"
														},
														{
															data : "skills",
															width : "10%",
															searchable : false,
														},
														{
															data : "startMoney",
															width : "1%",
															className : "text-center",
															searchable : false,
														},
														{
															data : "book",
															width : "15%",
															searchable : false,
														},
														{
															data : "englishName",
															width : "15%",
														}, ],
												columnDefs : [ {
													targets : [ 1 ],
													visible : false
												}, {
													targets : [ 2 ],
													visible : false
												}, {
													targets : [ 3 ],
													visible : false
												}, {
													targets : [ 4 ],
													visible : false
												}, {
													targets : [ 5 ],
													visible : false
												}, ],
												buttons : [
														{
															extend : 'searchPanes',
															className : 'btn-main btn-sm btn-color-main',
														},
														{
															extend : 'colvis',
															text : 'Столбцы',
															className : 'btn-main btn-sm btn-color-main',
															buttons : [
																	{
																		text : 'Получение навыков',
																		action : function(
																				e,
																				dt,
																				node,
																				config) {
																			dt
																					.column(
																							2)
																					.visible(
																							!dt
																									.column(
																											2)
																									.visible());
																		}
																	},
																	{
																		text : 'Начальный капитал',
																		action : function(
																				e,
																				dt,
																				node,
																				config) {
																			dt
																					.column(
																							3)
																					.visible(
																							!dt
																									.column(
																											3)
																									.visible());
																		}
																	},
																	{
																		text : 'Источник',
																		action : function(
																				e,
																				dt,
																				node,
																				config) {
																			dt
																					.column(
																							4)
																					.visible(
																							!dt
																									.column(
																											4)
																									.visible());
																		}
																	}, ]
														} ],
												language : {
													processing : "Загрузка...",
													search : "Поиск",
													lengthMenu : "Показывать _MENU_ записей на странице",
													zeroRecords : "Ничего не найдено",
													info : "Показано с _START_ до _END_ из _TOTAL_",
													infoEmpty : "Нет доступных записей",
													infoFiltered : "(filtered from _MAX_ всего)",
													paginate : {
														first : "В начало",
														previous : "<",
							next : ">",
														last : "В конец"
													},
													searchPanes : {
														clearMessage : "Сбросить",
														title : {
															_ : 'Отфильтровано - %d',
															0 : 'Фильтры не активны (Ctrl или Shift для множественного выбора)',
															1 : 'Один фильтр выбран',
														},
														collapse : 'Фильтры (%d)'
													},
												},
												ordering : true,
											});
		$('#backgrounds tbody').on('click', 'tr', function() {
				var tr = $(this).closest('tr');
				var row = table.row( tr );
				var url = '/backgrounds/fragment/' + row.data().id;
				$('#backgroundWindow').find(".modal-body").load(url);
				$('#backgroundWindow').modal('show');
			});
		});
	</script>
</body>
</html>