<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/datatable-mobile-layout}">
<head>
<title>Заклинания</title>
<style>
img {
	float: center;
}

.invert {
	filter: invert(100%);
	-webkit-filter: invert(100%) sepia(100%);
}

.badge-info {
	background-color: #F0D46C;
}

.badge-success {
	background-color: #9FD8AF;
}
</style>
</head>
<body>
	<div class="container-fluid" layout:fragment="content">
		<table id="spells" class="table table-hover table-sm  color-main-bg-500">
			<thead>
				<tr>
					<th>Школа</th>
					<th title="Уровень заклинания">Ур.</th>
					<th>Классы</th>
					<th>Название</th>
					<th title="Время накладывания">Время</th>
					<th>Длительность</th>
					<th>Дистанция</th>
					<th title="риуал">Р</th>
					<th title="концентрация">К</th>
					<th title="вербальный">В</th>
					<th title="соматический">С</th>
					<th title="материальный">М</th>
					<th>Тип урона</th>
					<th>Источник</th>
					<th>English</th>
					<th>Расходуемые материалы</th>
				</tr>
			</thead>
		</table>
		<div class="modal fade" id="spellWindow" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm">
				<div class="modal-content color-main-bg-500">
					<div class="modal-body"></div>
					<div class="modal-header color-main-bg-600">
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/resources/js/tables/spells.mobile.list.js?v=1}" layout:fragment="datatable"></script>
</body>
</html>