<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="User account registration" />
<title>Регистрация</title>
</head>
<body>
	<div class="container pt-5 d-flex flex-column justify-content-center align-items-center" layout:fragment="content">
		<div class="pt-5">
			<h4>Регистрация игрока</h4>
			<form autocomplete="off" action="#" th:action="@{/registration}" th:object="${user}" method="post" class="m-t" role="form" data-toggle="validator">
				<div class="mb-3">
					<input th:field="*{name}" type="text" class="form-control" placeholder="Имя пользователя" aria-label="Имя пользователя" aria-describedby="basic-addon1" />
					<div class="form-text text-danger" role="alert" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Неверное имя</div>
				</div>
				<div class="mb-3">
					<input th:field="*{email}" type="text" class="form-control" placeholder="Электронный адрес" aria-label="Электронный адрес" aria-describedby="basic-addon1" />
					<div class="form-text text-danger" role="alert" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Неверный электронный адрес</div>
				</div>
				<div class="mb-3">
					<input th:field="*{password}" type="password" class="form-control" placeholder="Пароль" aria-label="Пароль" aria-describedby="basic-addon2" />
					<div class="form-text text-danger" role="alert" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Неверный размер</div>
				</div>
				<div class="mb-3">
					<input th:field="*{passwordConfirm}" type="password" class="form-control" placeholder="Повторите пароль" aria-label="Повторите пароль" aria-describedby="basic-addon1" />
					<div class="form-text text-danger" role="alert" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">Неверный размер</div>
				</div>
				<button type="submit" class="btn btn-main btn-color-main">Регистрация</button>
			</form>
		</div>
	</div>
</body>
</html>