<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/datatable-mobile-layout}">
<head>
<title>Бестиарий</title>
<link rel="stylesheet" th:href="@{/resources/css/statblock.css}" />
</head>
<body>
	<div class="container-fluid" layout:fragment="content">
		<div class="modal fade" id="creatureWindow" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm">
				<div class="modal-content color-main-bg-500">
					<div class="modal-body"></div>
					<div class="modal-header color-main-bg-600">
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
				</div>
			</div>
		</div>
		<div class="collapse" id="subRaces">
			<th:block th:each="creatureRace : ${creatureRaces}">
				<a class="text-reset text-decoration-none" th:href="@{|/creatures/tag/${creatureRace.id}|}"> <span class="badge bg-secondary" th:text="${creatureRace.name}"></span>
				</a>
			</th:block>
		</div>
		<table id="creatures" class="table table-hover  table-sm color-main-bg-500">
			<thead>
				<tr>
					<th title="Уровень угрозы (Опасность)">CR</th>
					<th>Название</th>
					<th>Тип</th>
					<th>Размер</th>
					<th>Мировоззрение</th>
					<th>Среда обитания</th>
					<th>English</th>
					<th>Источник</th>
				</tr>
			</thead>
		</table>
	</div>
	<script layout:fragment="datatable">
		$(document).ready(function() {
			$('a.toggle-vis').on('click',function(e) {
				e.preventDefault();
				var column = table.column($(this).attr('data-column'));
				column.visible(!column.visible());
			});
		var table = $('#creatures').DataTable({
			stateSave : true,
			iDisplayLength : 15,
			dom : 'pBfrti',
			processing : true,
			serverSide : true,
			ajax : '/data/creatures',
			scrollY : "65vh",
			columns : [
			{
				data : "exp",
				width : "5%",
				searchable : false,
				className : "text-center",
			},
			{
				data : "name",
				width : "40%",
				render : function(data, type, row) {
					if (type === 'display') {
						return '<h6>' + data + (row.englishName ? '<small class="text-secondary"> [' + row.englishName + ']</small>' : '')
						+ '</h6>' + '<div class="text-secondary"><small>'
						+ row.book
						+ '</small></div>';
					}
					return data;
				},
			},
			{
				data : "type",
				width : "10%",
				searchable : false,
				className : "text-center",
			},
			{
				data : "size",
				width : "15%",
				searchable : false,
				className : "text-center",
			},
			{
				data : "alignment",
				width : "15%",
				searchable : false,
				className : "text-center",
			},
			{
				data : "habitates",
				width : "15%",
				searchable : false,
				className : "text-center",
			},
			{
				data : "englishName",
				width : "10%",
			},
			{
				data : "book",
				width : "10%",
				searchable : false,
			},],
			columnDefs : [{
				searchPanes : {
					searchable : false,
				},
				targets : [ 0 ]
			},{
				targets : [ 2 ],
				visible : false
			},{
				targets : [ 3 ],
				visible : false
			}, {
				targets : [ 4 ],
				visible : false
			},{
				targets : [ 5 ],
				visible : false
			},{
				targets : [ 6 ],
				visible : false
			},{
				targets : [ 7 ],
				visible : false
			},],
			buttons : [
			{
				tag: 'a',
				attr: {
					'data-bs-toggle': 'collapse',
					href: '#subRaces',
					role: 'button',
					'aria-expanded': 'false',
					'aria-controls': 'subRaces',
				},
				text: 'Метки',
				className: 'spToggle btn-main btn-sm btn-color-main',
				action: function ( e, dt, node, config ) {
					
				},
			},
			{
				extend: 'searchPanes',
				className: 'btn-main btn-sm btn-color-main',
			},
			{
				extend : 'colvis',
				text : 'Столбцы',
				className: 'btn-main btn-sm btn-color-main',
				buttons : [
				{
					text : 'Тип',
					action : function(e, dt, node, config) {
						dt.column(2).visible(!dt.column(2).visible());
					}
				},
				{
					text : 'Размер',
					action : function(e,dt,node,config) {
						dt.column(3).visible(!dt.column(3).visible());
					}
				},
				{
					text : 'Мировоззрение',
					action : function(e,dt,node,config) {
						dt.column(4).visible(!dt.column(4).visible());
					}
				},
				{
					text : 'Среда обитания',
					action : function(e,dt,node,config) {
						dt.column(5).visible(!dt.column(5).visible());
					}
				},
				{
					text : 'Источник',
					action : function(e,dt,node,config) {
						dt.column(7).visible(!dt.column(7).visible());
					}
				},],
			}],
			language : {
				processing : "Загрузка...",
				search : "Поиск",
				lengthMenu : "Показывать _MENU_ записей на странице",
				zeroRecords : "Ничего не найдено",
				info : "Показано с _START_ до _END_ из _TOTAL_",
				infoEmpty : "Нет доступных записей",
				infoFiltered : "(filtered from _MAX_ всего)",
				paginate : {
					first : "В начало",
					previous : "<",
					next : ">",
					last : "В конец"
				},
				searchPanes : {
					clearMessage : "Сбросить",
					title : {
						_ : 'Отфильтровано - %d',
						0 : 'Фильтры не активны (Ctrl или Shift для множественного выбора)',
						1 : 'Один фильтр выбран',
					},
					collapse : 'Фильтры (%d)'
				},
			},
			ordering : true,
		});
		$('#creatures tbody').on('click', 'tr', function () {
			var tr = $(this).closest('tr');
			var row = table.row( tr );
			var url = '/creatures/statblock/' + row.data().id;
			$('#creatureWindow').find(".modal-body").load(url);
			$('#creatureWindow').modal('show');
		});
	});
	</script>
</body>
</html>